@charset "utf-8";

/*========= フォントの設定 ===============*/
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500&display=swap');

:root {
	--k_white: #FFFFFF;
	--k_orange: #FF9000;
	--k_gray: #909090;
	--k_dark_gray: #707070;
	--k_light_gray: #E0E0E0;
	--k_white_gray: #F8F8F8;
	--k_black: #505050;
	
	--k_blue: #54C3F1;
	--k_green: #69BD83;
	--k_pink: #EFA0A0;
	--k_light_orange: #F9C270;
	--k_brown: #C49958;
	
	--k_blue_hover: #9fd9f6;
	--k_green_hover: #a5d4ad;
	--k_pink_hover: #FFc0c0;
	--k_light_orange_hover: #fcd7a1;
	--k_brown_hover:: #D9BA8C;
	
	--k_max_width: 1280px;
}

h1, h2, h3, h4, h5, h6, a, p, th, td, ul, li, a, address{
	margin: 0px;
	padding: 0px;
	border: 0px;
	text-decoration: none;
	font-weight:normal;
	font-style: normal;
	vertical-align: middle;
	text-align: center;
	font-family: 'M PLUS 1p', sans-serif;
	font-weight: 300;
	color:var(--k_black);
	font-size:1.0rem;
	line-height: 1.8rem;
	list-style-type: none;
	border-spacing: 0px;
}

p{
	text-align: left;
}

img	{
	margin: 0px;
	padding: 0px;
	border: 0px;
	display: block; 
}

iframe{
	display: block; 
}

table{
	margin: 0px;
	padding: 0px;
	border-spacing: 0px;
}

em{
	color: var(--k_orange);
	font-style: normal;
}

body {
	margin: 0px;
	padding: 0px;
	border:none;
	background: #FFFFFF;
  	text-align: center;
	-webkit-text-size-adjust: 100%;
}

footer{
	display:block;
}

body {
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

/*===================================
　基本レイアウトのための文字設定
===================================*/

h1{
	font-weight: 100;
	float:none;
	font-size:2.8rem;
	text-align: center;
	text-transform: uppercase;
	padding: 0px;
	margin: 40px 0 30px 0;
}

h2{
	font-weight: 100;
	float:none;
	font-size:2.5rem;
	text-align: center;
	margin: 35px 0 35px 0;
}

h3{
	font-weight: 100;
	font-size:2.0rem;
	text-align: center;
	margin: 30px 0 15px 0;
}

h4{
	font-size:1.1rem;
	color: var(--k_orange);
	text-align: center;
}

h5{
}

h6{
	color: #FFFFFF;
	font-weight: 400;
}

table{
	margin-top:20px;
}

th {
	font-size: clamp(0.9rem, 1.5vw, 1.0rem);

	border-bottom: 1px solid #E0E0E0;
	line-height: 2rem;
}

td {
	font-size: clamp(0.9rem, 1.5vw, 1.0rem);
	border-bottom: 1px solid #E0E0E0;
	line-height: 2rem;
	width:30px
}

main{
	padding: 46px 0px 0px 0px;
}

section{
	position: relative;
	padding: 10px 5% 20px 5%;
	margin:0px auto;	
}

.k_section{
	position: relative;
	padding: 10px 5% 20px 5%;
	margin:0px auto;	
}

section#area-0{
	padding: 0;
}

section:nth-child(2n+1){
	background:#f8f8f8;	
}

table.consultation {
	width: 95%;
	margin: 0 auto;
	padding: 10px;
}

td.consultation_rest {
	background-color: #E0E0E0E0;
}

.consultation th{ font-size: clamp(0.6rem, 1.5vw, 1.1rem); }

.consultation td{ font-size: clamp(0.6rem, 1.5vw, 1.1rem); }

/*===================================
　クラス定義
===================================*/

.clearfix::after{
	content:"";
	display:block;
	clear:both;
}

.contents_1008px{
	max-width :1008px;
	margin: 0px auto;	
	//max-width: var(--k_max_width);
}

.flexContainer img{
	border-radius: 10px;
}

.center{
	text-align: center;
}

.left{
	text-align: left;
	margin:5px 10px;
}

.line_gray{
	border-bottom: 1px solid var(--k_light_gray);
	height:1px;
	clear: both;
}

h4.left{
	margin-top:15px;
}

.orange{	
	color: var(--k_orange); 
}

.list_left{
	margin: 0% 5% 0% 7%;
}

.list_left	li{
	text-align: left;
	line-height: 26px;
	list-style-type: disc;
}

table.width_90 {
	width: 90%;
	margin: 0px auto;	
}

table.width_100 {
	width: 100%;
	margin: 0px auto;	
}

.contents_1008px img	{
	width: 100%; 
}

.flexContainer{
	display: flex;
	justify-content:space-between;
	padding: 0px;
	margin: 0px;
	border: 0px;
	margin:20px 0px; 
}

.width_8_5{ width: 8.5%; }
.width_10{ width: 10%; }
.width_15{ width: 15%; }
.width_20{ width: 20%; }
.width_25{ width: 25%; }
.width_30{ width: 30%; }
.width_40{ width: 40%; }
.width_50{ width: 50%; }
.width_50{ width: 90%; }

.flex_row_reverse{ flex-direction: row-reverse;}

img.img_small{  width: 100%; display: none; }

img.img_normal{ width: 100%; display: block; }

.img_center {width: 100%; border-radius: 10px;}

.img_container_30{ width: 30%; margin: 0px; border: 0px; }

.img_container_40{ width: 40%; margin: 0px; border: 0px; }

.img_container_47{ width: 47%; margin: 0px; border: 0px; }

.img_container_55{ width: 55%; margin: 0px; border: 0px; }

.txt_container_center{
	width: 100%; 
	border-radius: 10px; 
	padding: 10px 30px 10px 30px; 
}

.txt_container_40{ width:  40%; border-radius: 10px; padding: 10px; }

.txt_container_47{ width:  47%; border-radius: 10px; padding: 10px; }

.txt_container_55{ width:  55%; border-radius: 10px; padding: 10px; }

.txt_container_60{ width:  60%; border-radius: 10px; padding: 10px; }

.back_white{ background-color: #FFFFFF; }

.back_white_gray{background-color: var(--k_white_gray); }

.back_gray{background-color: var(--k_gray);}

.back_orange{background-color: var(--k_orange);}


.back_green{background-color: var(--k_green);}
.back_green:hover{background-color: var(--k_green_hover);}

.back_blue{background-color: var(--k_blue);}
.back_blue:hover{background-color: var(--k_blue_hover);}

.back_light_orange{background-color: var(--k_light_orange);}
.back_light_orange:hover{background-color: var(--k_light_orange_hover);}

.back_pink{background-color: var(--k_pink);}
.back_pink:hover{background-color: var(--k_pink_hover);}

.back_brown{background-color: var(--k_brown);}
.back_brown:hover{background-color: var(--k_brown_hover);}

.link{ color:cornflowerblue; text-decoration:underline;}

/*700px以下の場合の設定（携帯サイト用）*/
@media screen and (max-width:700px){
	
	a, address{ font-family: sans-serif; }
	
	h4, h5, p, a, ul, li, th, td { font-family: serif; }
	
	h1{ font-size:2.2rem; font-weight:300;}

	h2{ font-size:2.0rem; font-weight:300; }

	h3{ font-size:1.4rem; font-weight:300; }

	h4{ font-size:1.1rem; }
	
	.flexContainer{ display: block; justify-content: center; }
	
	.img_container_30{  width: 100%; margin-top: 20px; }
	
	.img_container_40{  width: 100%; margin-top: 20px; }
	
	.img_container_47{  width: 100%; margin-top: 20px; }
	
	.img_container_55{  width: 100%; margin-top: 20px; }
	
	.txt_container_center{ width: 100%; padding: 5px 0px; margin:10px 0px; } 
	
	.txt_container_40{ width: 100%; padding: 5px 0px; margin-top: 10px; }
	
	.txt_container_47{ width: 100%; padding: 5px 0px; margin-top: 10px; }
	
	.txt_container_55{ width: 100%; padding: 5px 0px; margin-top: 10px; }
	
	.txt_container_60{ width: 100%; padding: 5px 0px; margin-top: 10px; }
	
	img.img_small{ display: block; }
	
	img.img_normal{ display: none; }
	
	.table_small td{ font-size: 0.6rem;}
	
	.table_small th{ font-size: 0.6rem;}
	
	p.small{ font-size: 0.6rem;}
	
	table.consultation { width: 100%; padding: 10px 0px; }

	.list_left{ margin: 0 3% 0 7%;}
	
}

/*===================================
　　news お知らせ
===================================*/

.news_title{
	padding: 20px 10px 0px 0px;
	height: 28px;
	border-bottom: 1px solid #e0e0e0;
}

.news_title h4{ 
	float:left; 
	text-align: left; 
	font-size: 1.2rem; 
	color: var(--k_dark_gray);
	margin-left: 10px;
	font-weight: 400;
}

.news_title p{
	float: right; 
	text-align: right; 
	font-size: 1.0rem; 
	color: #606060;
	}

/*700px以下の場合の設定（携帯サイト用）*/
@media screen and (max-width:700px){
	.news_title{
		padding: 20px 0px 0px 0px;
		height:auto;
	}

	.news_title h4{ 
		clear:both;
		float:none; 
		text-align: left; 
		line-height: 1.2rem;
		width:100%; 
		font-size: 1.1rem; 
		margin: 10px 0 5px 0;
		color: var(--k_black);
	}
	.news_title h6{
		font-size: 0.8rem;
		line-height: 1.2rem;
	}
	.news_title p{ 
		float:none; 
		text-align: right; 
		width:auto; 
		font-size: 1.0rem; 
		line-height: 1rem;
		color: #606060;
		//font-family: sans-serif;
	}
}

/*===================================
　　news_list お知らせ リスト
===================================*/

.news_list{
	clear: both;
	padding: 10px 30px ;
	height:30px;
}

.news_list h5{
	text-align: left;
	margin-left: 10px;
	float:left;
}

.news_list p{
	text-align: center;
	font-size: 1rem;
}

.news_button{
	float:left;
	padding: 0px 10px;
	width:80px;
}

.news_button h6{
	font-weight: 400;
	color: #FFFFFF;
}

p.news_list_date{
	font-weight: 300;
	float: right;
	/padding-right: 10px;
	color: var(--k_black);
}

/*700px以下の場合の設定（携帯サイト用）*/
@media screen and (max-width:700px){
	.news_list{
		padding: 10px 0px ;
	}
	
	.news_list h5{
		font-size: 0.8rem;
		margin-left: 5px;
		clear: both;
	}
	
	.news_list h6{
		font-size: 0.8rem;
		line-height: 1.2rem;
		margin-right: 5px;
	}
	
	p.news_list_date{
		padding-right: 0px;
		font-size: 0.8rem;
		font-family: sans-serif;
	}
}

/*===================================
　　top page 診療科の紹介　
===================================*/
.introduction{
	margin: 20px auto 40px auto;
	clear:both;
	position: relative;
	display: flex;
	justify-content:space-between;
	max-width: var(--k_max_width);
}

.intro_txt_container{ 
	display: block;
	width: 60%; border-radius: 0px; padding: 0px; 
}

.intro_img{ width: 40%; margin: 0px; border: 0px; }

.introduction img{ width:100%; border-radius: 0; }

.intro_title{
	width: 60%;
	height: 44px;
}

.introduction h3{
	text-align: left;
	font-weight: 300;
	font-size: 1.3rem;
	padding: 0; border: 0px; padding:  8px 20px; margin: 0;
	color: var(--k_white);
}

.introduction p{
	padding: 15px 15px 5px 15px ;
}

/*700px以下の場合の設定（携帯サイト用）*/
@media screen and (max-width:700px){
	.introduction{
		display:block;
		justify-content: center; 
	}
	.intro_img{ width: 100%;}
	.intro_txt_container{ width: 100%; }
}


/*===================================
　　クリニック紹介
===================================*/
.picture_title{
	width: 60%;
	height: 44px;
}


/*700px以下の場合の設定（携帯サイト用）*/
@media screen and (max-width:700px){
	.picture_title{
	width: 100%;
}
}

/*===================================
　グローバルナビゲーション
===================================*/
#header{
	height: 50px;
	width:100%;
	align-items: center;
	background:var(--k_black);;
	position:absolute;
	top: 0px;
    z-index: 1;
	float: left;
}

#g_navi ul{
	max-width: 800px;
	margin: auto;
	display: flex;
	justify-content:space-around;

}

#g_navi ul li a{
	display: flex;
	color: #ffffff;
	padding:0px 15px;
	height: 50px;
	font-size: 0.9rem;
	align-items: center;
}

#g_navi ul li.current a,
#g_navi ul li a:hover{
	color:#f0a000; 
	font-weight: 400;
}

/*ウィンドウのサイズが小さくなった場合メニューを見えなくする（携帯サイト）*/
#g_navi.dnone a{
	
	display: none;	/* カーソルが反応しないように */
	opacity: 0;
}

/*メニューボタンをクリックした場合（携帯サイト）*/
#g_navi.dnone.panelactive{
	background:#404040;
	/*固定位置にして最背面に*/
	position:fixed; 
	top: 0;
	left: 0; 
	width:100%;
	height: 100vh;
}

#g_navi.dnone.panelactive ul{
	color: #ffffff;
	padding:60px 50px 30px 50px;
	display: block;
}

#g_navi.dnone.panelactive li{
	opacity: 1;
	display: block;
	height: 46px;
	padding:0px 10px 0px 10px;
	letter-spacing: 0.4em;
	border-bottom: 1px solid #909090;
}

#g_navi.dnone.panelactive a{
	display: flex;	
	opacity: 1;
	font-size: 1.1rem;
	justify-content: center;
}

#logo_konishi{
	opacity:0;　/* 幅768以下のメニューのところにlogo_konishiを非表示 */
	justify-content: center;
	position: absolute;
    top: 12px;
    /*
	left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
	*/
	left: 10px;
	position: relative;/*ボタン内側の基点となるためrelativeを指定*/
	float:left;
    z-index: 2;
	pointer-events: none;
	
}

#icon_tel{
	opacity:0;　/* 幅768以下のメニューのところにicon_telを非表示 */
	justify-content: center;
	position: absolute;
    top: 13px;
	left: -10px;
	position: relative;/*ボタン内側の基点となるためrelativeを指定*/
	float:right;
    z-index: 2;
	pointer-events: none;
	
}

/*===================================
　サブメニュー
===================================*/
#header_sub_menu{
	max-width :1008px;
	//min-width :800px;
	height: 40px;
	width: 100%;						/* 左右5%の余白に設定 */
	background-color: #FFFFFF;
	margin:30px auto 0px auto;				/* メニューは常にセンター */
	border-bottom: 1px solid #c0c0c0;
}

#header_sub_menu h2{
	display: flex;
	text-align: center;
	float:left;
	font-size: 2rem;
	color: var(--k_black);	
	padding: 6px 0px 3px 10px;
	margin: 0px;
}

.sub_menu_box{
	margin-top: 11px;
	float:right;
	width: 65%;
	max-width: 600px;
}

#sub_menu ul{
	display: flex;
}
#sub_menu li{
	flex-grow: 1;
	justify-content:flex-end;
	line-height: 1rem;
}

#sub_menu a{
	font-size: 0.8rem;
	color:var(--k_black);
	width:100%;
	display: block;
	/text-align: right;
}

#sub_menu ul li.current a{
	color:var(--k_black);
	background-color: #F0F0F0;
}

#sub_menu a:hover{
	color:#000000; 
}

#sub_menu li:hover{
 	background-color: #F0F0F0;
}

/*700px以下の場合の設定（携帯サイト用）*/
@media screen and (max-width:700px){
	
	#header_sub_menu{
		height: auto;
		display: inline-block;
		
	}
	
	#header_sub_menu h2{
		display:block;
		float:none;
		font-size: 1.8rem;
		padding-bottom: 6px;
	}
	
	.sub_menu_box{
		margin-top: 0;
		margin: auto;
		width: 100%;
		max-width :none;
		border-top: 1px solid #b0b0b0;
	}
	#sub_menu a{
		font-weight: 400;
	}
	
	#sub_menu ul{
		display: block;
	}
	#sub_menu a{
		line-height:  2.2rem;
	}
	
	#sub_menu li + li {
		border-top: 1px solid #b0b0b0;
	}
	
}

/*===================================
　フッターメニュー
===================================*/
#footer_navi{
	margin: auto;
	max-width :600px;
	padding: 20px 0px;
	width: 90%;						/* 左右5%の余白に設定 */
	
}
#footer_navi ul{
	display: flex;
}
#footer_navi li{
	flex-grow: 1;
	justify-content: space-between;
	line-height:  0.75rem;
}
#footer_navi a{
	color:#202020;
	font-size: 0.75rem;
	line-height:  0.75rem;
	display: block;　
	
}
#footer_navi li + li {
 	border-left: 1px solid #b0b0b0;
}

#footer_navi a:hover{
	color:#000000; 
}
#footer_navi li:hover{
  background-color: #F0F0F0;
}

/*700px以下の場合の設定（携帯サイト用）*/
@media screen and (max-width:700px){
	
	#footer_navi{
		width: 90%;
	}
	
	#footer_navi ul{
	  	border-top: 1px solid #c0c0c0;
	  	border-bottom: 1px solid #c0c0c0;
		display: block;
	}
	
	#footer_navi li{
		margin: auto;
	}
	
	#footer_navi a{
		line-height:  2.2rem;
		font-size:0.8rem;
		font-weight: 400;
	}

	#footer_navi li + li {
	  border-left: 0px solid #c0c0c0;
	  border-top: 1px solid #c0c0c0;
	}
	
}

/*===================================
　フッター
===================================*/

#footer{
	padding: 8px 18px;
	background-color: #FFFFFF;
	text-align: center;
	border-top: 1px solid #c0c0c0;
	
}
.footer-logo img{
	display:block;
	margin: 20px auto;
}


small{
	color:#202020;
	display:block;
	text-align: center;
	line-height: 1.4rem;
	font-size:0.75rem;
}

address{
	display: flex;
	justify-content: center;
}

p.footer-address{
	color: #202020;
	font-size: 0.75rem;
	line-height: 1.0rem;
	text-align: center;
	margin: 0px 10px;
}

.footer-address a[href^="tel:"]{
	line-height: 1.0rem;
	font-size: 0.75rem;
}
	
/*===================================
　Pgae Top
===================================*/
/*リンクの形状*/
#page-top a{
	display: flex;
	justify-content:center;
	align-items:center;
	background:#404040;
	/*border-radius: 40px;*/
	width: 80px;
	height: 60px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase; 
	text-decoration: none;
    border:1px solid #ffffff;
	font-size:1.0rem;
	transition:all 0.3s;
}

#page-top a:hover{
	background: var(--k_orange);
}

/*リンクを右下に固定*/
#page-top {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 2;
	/*はじめは非表示*/
	opacity: 0;
	transform: translateY(140px);
}

/*　上に上がる動き　*/

#page-top.UpMove{
 	animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime{
	from {
		opacity: 0;
		transform: translateY(140px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/*　下に下がる動き　*/

#page-top.DownMove{
 	animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 1;
		transform: translateY(140px);
	}
}



/*===================================
　MENUボタンの設定（携帯サイト用）
===================================*/

/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.openbtn{
	opacity: 0;
	display:none;
	position: relative;/*ボタン内側の基点となるためrelativeを指定*/
	cursor: pointer;
	width: 50px;
	height:50px;
	float:right;
	z-index:5;
}

.openbtn.openMenu{
	opacity: 1;　/* 幅768以下になったらメニューボタンを表示 */
}

/*ボタン内側*/
.openbtn span{
	display: inline-block;
	transition: all .4s;/*アニメーションの設定*/
	position: absolute;
	left: 14px;
	height: 1px;
	border-radius: 2px;
	background: #fff;
	width: 40%;
}

.openbtn span:nth-of-type(1) {
	top:15px; 
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

/*activeクラスが付与されると線が回転して×になり、Menu表記をしている2つ目の要素が透過して消える*/	
.openbtn.active{
	z-index:255;/*最前面に*/
}
.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

/*===================================
　スライドショー
===================================*/

#title_box {
	position: relative;
	width: 100%;
	padding-top: 56.25%;
	overflow: hidden;
	margin: 0 auto;
	/max-width: var(--k_max_width);
}

@keyframes slideshow{
  0%{
    opacity: 0;
  }
  7%{
    opacity: 1;
  }
  20%{
    opacity: 1
  }
  33%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

.slide img {
  position: absolute;
  display: block;
  top: 0%;
  left: 0%;
  width: 100%;
  opacity: 0;
  animation :slideshow 40s linear infinite;
}

.slide img:nth-child(2){ animation-delay: 10s; }
.slide img:nth-child(3){ animation-delay: 20s; }
.slide img:last-child  { animation-delay: 30s; }

#title{
  position: absolute;
	left:8%;
	top: 8%;
}

#title h2{
	top:0;
	font-size: clamp(5px, 3.5vw, 35px);
	text-align: left;
	line-height: 150%;
	letter-spacing: 0.4vw;	
	font-weight: 100;
	/text-shadow: 0px 0px 5px #FFF0F0;
	margin: 0;
}

#title p{
	top:0;
	font-size: clamp(4px, 1.8vw, 18px);
	text-align: left;
	line-height: 150%;
	letter-spacing: 0.3vw;	
	font-weight: 300;
	/text-shadow: 0px 0px 5px #FFF0F0;
}

#title p.right{
	text-align: right;
}

@media screen and (max-width:700px){
	#title h2{ 
		font-weight: 300; 
		font-size: clamp(5px, 4vw, 35px);
	}
	#title p{ 
		font-weight: 300; 
		font-size: clamp(4px, 3vw, 18px); 
		letter-spacing: 0.1vw;
		font-family: serif;
	}
	
	#title em{ font-weight: 400;}
	
	.slide img {
		left: -35%;
		width: 150%;
	}
	#title_box {
		padding-top: 83%;
		overflow: hidden;
	}
	#title{ left:5%; top: 7%; }
}


/*===================================
　流れるテキスト
===================================*/
/*全共通*/

.slide-in {
  overflow: hidden;
    display: inline-block;
}

.slide-in_inner {
  display: inline-block;

}

/* 上下のアニメーション*/
.upAnime{
    opacity: 0;/* 事前に透過0 にして消しておく*/
}

.slideAnimeDownUp {
    animation-name:slideTextY100;
    animation-duration: 10s;
    animation-fill-mode:forwards;
    opacity: 0;
}

@keyframes slideTextY100 {
    from {
        transform: translateY(100%);/* 要素を上の枠外に移動*/
        opacity: 0;
    }
    to {
        transform: translateY(0);/* 要素を元の位置に移動*/
        opacity: 1;
    }
}
.slideAnimeUpDown {
    animation-name:slideTextY-100;
    animation-duration: 10s;
    animation-fill-mode:forwards;
    opacity: 0;
}

@keyframes slideTextY-100 {
    from {
    transform: translateY(-100%);/* 要素を下の枠外に移動*/
    opacity: 0;
    }
    to {
    transform: translateY(0);/* 要素を元の位置に移動*/
    opacity: 1;
    }
}

/*===================================
　768px以下の場合の設定（携帯サイト用）
===================================*/

@media screen and (max-width:700px){
	

	#logo_konishi{ opacity: 1; pointer-events: auto; }	
	
	#logo_konishi.logoactive{ opacity: 0; 　pointer-events: none; }
	
	#icon_tel{ opacity: 1; pointer-events: auto; }	
	
	#icon_tel.logoactive{ opacity: 0; 　pointer-events: none; }
	.openbtn{ display:block; }
	
	
	address{ display: block; }
	section#area-0{　padding: 0;　}

}
